.box {
  height: 4em;
  padding: 8px;
  background: var(--input-bg);
}

.title {
  font-weight: bold;
  color: #d8d8d8;
}

.input {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
}

.time {
  color: #d0d0d0;
}

