.box {
  height: 4em;
  padding: 8px;
  background: var(--accent-bg);
}

.title {
  font-weight: bold;
  color: var(--accent-text);
}

.input {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
}

.time {
  color: var(--accent-text-light);
}

