.box {
  height: 100%;
  border: 1px solid #f08080;
  padding: 8px;
  /*
  background: #80ffdf;
  */
  overflow-x: hidden;
  overflow-y: scroll;
}

.values {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  color: #202020;
  background: #e0e0e0;
}
