.box {
  height: 100%;
  padding: 8px;
  background: #e0e0e0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.value {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
  padding: 4px;
  margin: 2px;
  background: #ffffff;
  color: #202020;
}

.weight {
  color: #101010;
  font-size: 1.4em;
}

.time {
  color: #505050;
}

.deleteButton {
  padding: 1px;
  border: 1px solid green;
  border-radius: 2px;
}
