.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 8px 16px;
  background: var(--accent-bg);
}

.content {
}

.title {
  font-weight: bold;
  color: var(--accent-text);
}

.input {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  align-items: center;
}

.time {
  color: var(--accent-text-light);
}

.exportButton {
  padding: 4px;
  border: 1px solid var(--button-border);
  border-radius: var(--button-border-radius);
  background: var(--button-bg);
  color: var(--button-color);
  font-size: var(--button-text-size);
}
