.weightMain {
  display: flex;
  flex-direction: column;
  color: #efefef;
}

.weightInput {
  padding: 4px;
  background: red;
}

.weightValues {
  background: white;
  color: #202020;
}

.weight {
  color: #080808;
  margin-right: 8px;
}

.time {
  color: #404040;
}
