:root {
  --weight-bg: #ffffff;
  --weight-color: #383838;
  --averages-bg: #233445;
  --averages-color: #d8d8d8;
  --graph-bg: #a060a0;
  --graph-color: #202080;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.page {
  height: 100vh;
}

.weight {
  height: 50%;
  background: var(--weight-bg);
  color: var(--weight-color);
  overflow-y: scroll;
}

.weights {
  padding: 8px 0;
}

.weightValues {
}

.weightValues > * {
  padding-bottom: 8px;
}

.weightValues .weight {
  padding-left: 8px;
  margin-right: 8px;
  color: #0808c8;
  font-size: 1.6em;
}

.weightValues .time {
  color: #404040;
}

.weightValues button {
  border: 1px solid #808080;
  border-radius: 2px;
  padding: 0 2px;
  background: #d0d0d0;
  color: #606060;
  font-size: 0.8em;
}

.averages {
  height: 15%;
  padding: 8px;
  background: var(--averages-bg);
  color: var(--averages-color);
  font-size: 0.9em;
}

.average {
  display: flex;
  justify-content: space-around;
}

.graph {
  height: 35%;
  background: var(--graph-bg);
}
