:root {
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #233445;
}

.average {
  display: flex;
  justify-content: space-around;
}
